<section class="tought-form-container">

  <form action="/toughts/add" method="post">
  <h2>Criar pensamentos:</h2>
    <div class="form-control">
      <label for="titulo">Título:</label>
      <input type="text" name="titulo" placeholder="Digite seu pensamento" />
    </div>
    <input type="submit" value="Criar pensamento" />

  </form>
<a href="/toughts/dashboard">Voltar</a>
</section>